include ../blocks/btn/btn.pug
include ../blocks/dropcap/dropcap.pug
include ../blocks/page-header/page-header.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/promo/promo.pug
include ../blocks/testimonials/testimonials.pug
include ../blocks/hamburger/hamburger.pug
include ../blocks/form/form.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/social/social.pug
include ../blocks/logo/logo.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/owl-carousel/owl-carousel.pug
include ../blocks/error404/error404.pug
