extends pug/layout.pug

block meta
  - var title = 'Главная';
  title= title
  meta(name='description', content='')

block header
  +page-header()
    p Header

block content

block footer
  +page-footer()
    p Footer